SECRET_KEY=

REDIS_URL=

#News_app API Keys
api_key_to_exchange_rate=
api_key=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Koyeb database settings
KOYEB_DB_NAME=
KOYEB_DB_USER=
KOYEB_DB_PASSWORD=
KOYEB_DB_HOST=

# Email Configuration
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# AWS Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=

# If DEBUG is FALSE, create the PostgreSQL database
POSTGRES_DB_NAME=
POSTGRES_DB_USER=
POSTGRES_DB_PASSWORD=
POSTGRES_DB_HOST=
POSTGRES_DB_PORT=

DATABASE_URL=

# if you need PgAdmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=