.contact-form-container {
    background-color: #40886E;
    color: #E2B29B;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    padding: 20px;
}

input, 
select, 
textarea {
    background-color: #3D6657;
    color: #E2B29B; 
    border: 1px solid #666; 
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px; 
    transition: border-color 0.3s, background-color 0.3s;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #d6a700;
    outline: none; 
    background-color: #4A7B65; 
}

.btn-primary {
    background-color: #CA825F; 
    border-color: #CA825F; 
}

.btn-primary:hover {
    background-color: #E2A385; 
    border-color: #E2A385; 
}
